#groupsAccordion .accordion-button {
    background-color: var(--bg-card);
    color: #c9d1d9;
}

#groupsAccordion .accordion-button:not(.collapsed) {
    background-color: #1f6feb22;
    color: var(--text-primary);
}

#groupsAccordion .accordion-body .card {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
}

.avatar-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block; /* важно */
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* важно */
}


/* Кнопки и текст */
.card-body .btn {
    font-size: 0.85rem;
}
