.form-control:focus {
    box-shadow: none;
    border-color: var(--text-primary);
}

.btn-primary {
    background-color: var(--text-primary);
    border-color: var(--text-primary);
}

.btn-primary:hover {
    background-color: #3f8ae0;
    border-color: #3f8ae0;
}

#regStatus {
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-primary);
}
