{% extends "index.html" %} {% block content %}
<div class="container mt-5">
  <h3 class="mb-4">Регистрация студента</h3>

  <form id="registerForm" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="regName" class="form-label">Имя</label>
      <input
        type="text"
        class="form-control"
        id="regName"
        name="name"
        required
        placeholder="Введите имя"
      />
    </div>

    <div class="mb-3">
      <label for="regGroup" class="form-label">Группа</label>
      <input
        type="text"
        class="form-control"
        id="regGroup"
        name="group"
        required
        placeholder="Введите группу"
      />
    </div>

    <div class="mb-3">
      <label for="regPhoto" class="form-label">Фото студента</label>
      <input
        type="file"
        class="form-control"
        id="regPhoto"
        name="photo"
        accept="image/*"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Добавить ученика</button>
    <div id="regStatus" class="mt-2 text-success"></div>
  </form>
</div>

<!-- Модалка -->
<div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Успешная регистрация</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Закрыть"
        ></button>
      </div>
      <div class="modal-body" id="modalBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/register.css') }}"
/>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
